@import "tailwindcss";
.about-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
}

.about-container {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  color: white;
  margin-top: 10px;
  border: 3.5px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  box-shadow: 5px 5px 15px rgba(246, 99, 162, 0.836);
}
.about-overlay{
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.156);
}

.about-content {
  background:  rgba(160, 145, 190, 0.507);
  border: 2px solid white;
  border-radius: 50px;
  padding: 30px 30px;
  position: relative;
  z-index: 2;
  max-width: 90vw;
  height: 500px;
  box-shadow: 5px 5px 15px rgba(246, 99, 162, 0.836);
}
.section-heading{
  font-family: monospace;
  margin-bottom: 20px;
  text-align: center;
}
.about-container p{
  font-size: 1.1rem;
  margin-bottom: 25px;
  opacity: 0.9;
}
.text{
  height: 100%;
  overflow-y: auto;
  padding-right: 0px;
}




/*Skills-section*/
.skills-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  background-size: cover;
  margin-top: 35px;
  width: 100vw;
  height: 100vh;
  border: 5px solid rgba(160, 145, 190, 0.507);
  border-radius: 50px;
  box-shadow: 5px 5px 15px rgba(246, 99, 162, 0.836);
}

.section-heading{
  font-family: monospace;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 50px;
}
.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  margin-right: 10px;
  width: 100%;
  height: auto;
  color: white;
  
}
.skills-overlay{
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.156);
}


.skills-container2{
  flex-direction: column;
  text-align: center;
}

.skills-box{
  background: rgba(160, 145, 190, 0.507);
  border: 2px solid white;
  border-radius: 25px;
  padding: 30px 30px;
  margin: 15px 15px 15px 15px;
  height: 100px;
  width: 350px;
  font-size: 2rem;
  box-shadow: 5px 5px 15px rgba(246, 99, 162, 0.836);
  font-family: monospace;
  text-align: left;
}

.skills-box h2{
  padding-bottom: 25px;
}

.section-heading{
  font-family: monospace;
  margin-bottom: 20px;
  text-align: center;
}
.skills-container p{
  font-size: 1.1rem;
  margin-bottom: 20px;
  opacity: 0.9;
}
.text{
  height: 100%;
  overflow-y: auto;
  padding-right: 0px;
}
