.about-section {
  position: relative;
  width: 95vw;
  height: 95vh;
  margin: 20px 20px 20px 20px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  border-radius: 50px;
}

.about-container {
  width: 95vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  background-image: url(/images/main3rd.jpg);
  background-size: cover;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  border: 3.5px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
}


.about-content {
  background:  rgba(186, 69, 2, 0.588);
  border: 2px solid white;
  border-radius: 50px;
  padding: 30px 30px;
  position: relative;
  z-index: 2;
  max-width: 90vw;
  height: 500px;
}

.section-heading{
  font-family: monospace;
  margin-bottom: 20px;
  text-align: center;
}
.about-container p{
  font-size: 1.1rem;
  margin-bottom: 25px;
  opacity: 0.9;
}
.text{
  height: 100%;
  overflow-y: auto;
  padding-right: 0px;
}




/*Skills-section*/
.skills-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: 35px;
  width: 100vw;
  height: 100vh;

}

.section-heading{
  font-family: monospace;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 50px;
}
.skills-container {
  width: 95vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  background-image: url(/images/second2nd.jpg);
  background-size: cover;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 25px;
  border: 3.5px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  
}

.skills-container2{
  flex-direction: column;
  text-align: center;
}

.skills-box{
  background: rgba(182, 139, 89, 0.362);
  border: 1.5px solid white;
  border-radius: 25px;
  padding: 30px 30px;
  margin: 15px 15px 15px 15px;
  padding: 10px 10px 10px 10px;
  padding-left: 20px;
  height: 80px;
  width: 350px;
  font-size: 2rem;
  box-shadow: 5px 5px 15px rgba(111, 58, 5, 0.836);
  font-family: monospace;
  text-align: left;
}

.skills-box h2{
  padding-bottom: 25px;
}

.section-heading{
  font-family: monospace;
  margin-bottom: 20px;
  text-align: center;
}
.skills-container p{
  font-size: 1.1rem;
  margin-bottom: 20px;
  opacity: 0.9;
}
.text{
  height: 100%;
  overflow-y: auto;
  padding-right: 0px;
}
