/*this filke contains projects and content section css*/
/*Projects*/
.projects-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 10px;
  
}

.text{
  padding: 10px 10px 10px 10px ;
}
.projects-container {
  width: 95vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 10px;
  margin-left: 25px;
  border-radius: 50px;
  background-image: url(/images/main2nd.jpg);
  background-size: cover;
  border: 3.5px solid rgba(255, 255, 255, 0.4);

}


.projects-content {
  background: rgba(215, 107, 18, 0.486);
  border: 2px solid white;
  border-radius: 50px;
  padding: 10px 10px 10px 10px;
  position: relative;
  z-index: 2;
  max-width: 950px;
  height: 500px;
  box-shadow: 5px 5px 15px rgba(255, 192, 203, 0.473);
}
.section-heading{
  font-family: monospace;
  margin-bottom: 20px;
  text-align: center;
}
.projects-container p{
  font-size: 1.1rem;
  margin-bottom: 25px;
  opacity: 0.9;
}

.project-container2{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.project-box{
  background: rgba(182, 139, 89, 0.362);
  border: 2px solid white;
  border-radius: 25px;
  padding: 30px 30px;
  margin: 15px 15px 15px 15px;
  height: 180px;
  width: 500px;
  font-size: 2rem;
  box-shadow: 5px 5px 15px rgba(111, 58, 5, 0.836);
  font-family: monospace;
  text-align: left;
}


.text{
  height: 100%;
  overflow-y: auto;
  padding-right: 0px;
}


/*Contact*/
.contacts-section {
  position: relative;
  width: 100vw;
  height: auto;
  overflow: hidden;

}

.contacts-container {
  width: 95vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  color: white;
  margin-left: 25px;
  border: 3.5px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  box-shadow: 5px 5px 15px rgba(255, 192, 203, 0.473);
  background-image: url(/images/main4th.jpg);
  background-size: cover
}


.contacts-content {
  border: 2px solid white;
  border-radius: 50px;
  padding: 30px 30px;
  position: relative;
  z-index: 2;
  max-width: 900px;
  height: 450px;
  box-shadow: 5px 5px 15px rgba(255, 192, 203, 0.473);
 
}
.section-heading{
  font-family: monospace;
  margin-bottom: 20px;
  text-align: center;
}
.contacts-container p{
  font-size: 1.1rem;
  margin-bottom: 25px;
  opacity: 0.9;
}
.text{
  height: 100%;
  overflow-y: auto;
  padding-right: 0px;
}

.social{
  background:#dfb6b2b7;
  border: 2px solid white;
  border-radius: 15px;
  padding: 15px 15px;
  margin: 15px 15px 15px 15px;
  height: 50px;
  width: 350px;
  font-size: 1rem;
  box-shadow: 2px 2px 5px #FBE4D8;
  font-family: monospace;
  text-align: left;
}

