.hero {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  text-align: center;
  color: white;
  position: relative;
  transition: background-image 0.8s ease-in-out;
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.281);
  
}


.hero-content {
  position: relative;
  z-index: 2;
  max-width: 750px;
}

.hero-content h1 {
  font-size: 3.2rem;
  margin: 0 0 10px;
  font-weight: 700;
}

.hero-content h2 {
  font-size: 1.8rem;
  margin-bottom: 18px;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 25px;
  opacity: 0.9;
}

/*Main-buttons*/
.button-hero{
  display: flex;
  justify-content: center;
  
}
.hero-btn, .hero-btn2{
  padding: 12px 20px;
  background: rgba(250, 109, 243, 0.341);
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  margin: 10px 10px;
  align-items: center;
  width: 160px;
}

.hero-btn:hover{
  background: #fb7de0b3;
  border: 2px solid pink;
  box-shadow: 5px 5px 15px rgba(255, 192, 203, 0.473);
}
.hero-btn2:hover {
  background: #fb7de0b3;
  border: 2px solid pink;
  box-shadow: 5px 5px 15px rgba(255, 192, 203, 0.473);
 
}

/*navbar*/
.nav {
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  max-width: 900px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px;
  margin-top: 15px;
  background-color: rgba(160, 145, 190, 0.507);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.477);
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.442);
  color: #fff;
  font-weight: bold;
  z-index: 12;
}
.nav:hover {
  background-color: rgba(160, 145, 190, 0.507);
  border: 1.5px solid rgba(242, 0, 255, 0.292);
  box-shadow: 5px 5px 15px rgba(255, 192, 203, 0.473); 
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 10px;
}

.nav-links {
  display: flex;
  gap: 28px;
}

.nav-items {
  color: white;
  text-decoration: none;
  font-size: 1.05rem;
  transition: opacity 0.3s ease;
}

.nav-items:hover {
  opacity: 0.7;
  color: rgb(138, 3, 161);
}
