.hero {
  width: 95vw;
  height: 95vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 20px 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  position: relative;
  border: 3.5px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  transition: background-image 0.8s ease-in-out;
  z-index: 1;
}


.hero-content {
  position: relative;
  max-width: 750px;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);}

.hero-content h1 {
  font-size: 3.2rem;
  margin: 0 0 10px;
  font-weight: bold;
}

.hero-content h2 {
  font-size: 1.8rem;
  margin-bottom: 18px;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  color: rgb(255, 255, 255);  
}

.hero-content p {
  font-size: 1.1rem;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  color: rgb(255, 255, 255);  
  font-weight: bold;
  margin-bottom: 25px;
  opacity: 0.9;
}

/*Main-buttons*/
.button-hero{
  display: flex;
  justify-content: center;
  position: relative;
}
.hero-btn, .hero-btn2{
  padding: 12px 20px;
  background: rgb(129, 1, 1);
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  margin: 10px 10px;
  align-items: center;
  width: 160px;
}

.hero-btn:hover{
  color: black;
  background: #ffffff;
  border: 2px solid rgb(255, 209, 192);
  box-shadow: 5px 5px 15px rgba(255, 192, 203, 0.473);
}
.hero-btn2:hover {
  color: black;
  background: #ffffff;  border: 2px solid rgb(255, 209, 192);
  box-shadow: 5px 5px 15px rgba(255, 192, 203, 0.473);
 
}

/*navbar*/
.nav {
  position: fixed;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  max-width: 900px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px;
  margin-top: 25px;
  background-image: linear-gradient(120deg ,rgb(79, 4, 4) , red , rgb(79, 4, 4) );
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.477);
  box-shadow: 5px 5px 10px rgba(168, 97, 97, 0.442);
  color: #fff;
  font-weight: bold;
  z-index: 12;
}
.nav:hover {
  background-image: linear-gradient(120deg ,rgba(79, 4, 4, 0.485) , rgba(255, 0, 0, 0.307) , rgba(79, 4, 4, 0.485) );
  border: 1.5px solid rgba(255, 102, 0, 0.292);
  box-shadow: 5px 5px 10px rgba(255, 192, 203, 0.473); 
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 10px;
}

.nav-links {
  display: flex;
  gap: 28px;
}

.nav-items {
  color: white;
  text-decoration: none;
  font-size: 1.05rem;
  transition: opacity 0.3s ease;
}

.nav-items:hover {
  opacity: 0.7;
  color: rgb(252, 41, 87);
}
