.nav {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 1100px;

  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(8px);

  border-radius: 50px;
  padding: 12px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 100;
  color: white;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: opacity 0.3s ease;
}
.nav-links a:hover {
  opacity: 0.7;
}
