*{
  margin: 0;
  padding: 0;
}
#root {
  max-width: 1000px;
  margin: 0;
  padding: 0;
}
body{
  background-image: linear-gradient(120deg, #000000da,#000000, #5c195ade); 
}

#about{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 300px;
}


