*{
  margin: 0;
  padding: 0;
}
#root {
  max-width: 1000px;
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(0, 0, 0);
}

#about{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 300px;
}


